apiVersion: v1
kind: Secret
metadata:
  name: {{ include "gordon-watcher.fullname" . }}
  labels:
    {{- include "gordon-watcher.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if .Values.rabbitmq.enabled }}
  rabbitmq-url: "amqp://{{ .Values.rabbitmq.username }}:{{ .Values.rabbitmq.password }}@{{ .Values.rabbitmq.host }}:{{ .Values.rabbitmq.port }}{{ .Values.rabbitmq.vhost }}"
  {{- else }}
  rabbitmq-url: {{ .Values.rabbitmq.external.url | quote }}
  {{- end }}
  {{- if .Values.redis.enabled }}
  redis-url: "redis://{{ if .Values.redis.password }}:{{ .Values.redis.password }}@{{ end }}{{ .Values.redis.host }}:{{ .Values.redis.port }}/{{ .Values.redis.db }}"
  {{- else }}
  redis-url: {{ .Values.redis.external.url | quote }}
  {{- end }}
